@layer components {
  .monogram {
    fill: var(--textTitle);
    transition: fill var(--durationL) ease;
  }

  .highlight {
    fill: var(--accent);
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: opacity 0.1s ease, transform var(--durationM) var(--bezierFastoutSlowin);

    /* Hover animation */
    .monogram:hover &,
    a:hover & {
      opacity: 1;
      transform: scaleY(1);
      transform-origin: bottom;
    }
  }
}
